/*:root {
    --black-color: rgb(249,245,239);
  --fibonaccifontcolor: rgb(53, 49, 46);
  --fibonaccifontcolor: rgb(64, 59, 55);

}

body {
  font-size: 100px;
  line-height: 1.5;
  letter-spacing: 1px;
  overflow-x: hidden;
  background-color: var(--black-color);
}*/

:root {
    --fontcolor: rgb(225, 182, 193);
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: center;*/
  flex-wrap: wrap;
  padding: 0 50px;
  
  background-color: rgb(74,65,42); /*pantone #4a412a*/
  background-color: rgba(93, 89, 70, 1);
  background-color: rgba(53, 53, 50, 1);
  /*background-color: brown;*/
}

/*h1 {
  margin: 200px auto;
}

h1,
div {
  position: relative;
}*/

span {
  display: inline-block;
  width: 50px;
  height: 100px;
  border: 8px double var(--fontcolor);
  margin: 10px;
  position: relative;
  color: rgba(0, 0, 0, 0);
  font-size: 100px;
}

.a, .ae, .aa {
  /*border-radius: 0 50px 0 50px / 50px 50px 20px 80px;*/
  border-radius: 50px 50px 0 50px;
}

.b {
  border-radius: 50px 50px 50px 0;
}

.b:before {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 8px;
  z-index: -1;
  width: 2px;
  height: 150px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  /*border-radius: 3px;*/
  border-radius: 0px;
}

.c, .e {
  border-radius: 50px;
  border-right: 8px double rgba(0, 0, 0, 0);
  margin-right: 0;
}

.d {
  border-radius: 50px 50px 0 50px;
}

.d:before {
  content: "";
  position: absolute;
  right: -8px;
  bottom: 8px;
  z-index: -1;
  width: 2px;
  height: 150px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  /*border-radius: 3px;*/
  border-radius: 0px;
}

/*.e {
  width: 40px;
  border-radius: 25px 0 0 25px;
  border-right: 0;
}*/

.f {
  margin-right: 20px;
  margin-left: 15px;
  height: 166px;
  bottom: -26px;
}

.g {
  border-radius: 50px 50px 0 50px;
}



.h, .m, .n {
  /*border-top: 5px double rgba(0, 0, 0, 0);*/
  border-bottom: 0;
  border-radius: 50px 50px 0 0;
}

/*.n {
  border-top-left-radius: 50px 0;
}*/

.f, 
.i, 
.j 
/*.l, 
.t*/ {
  /*border-radius: 50px;
  border-top: 8px double rgba(0, 0, 0, 0);
  border-right: 8px double rgba(0, 0, 0, 0);
  border-left: 8px double rgba(0, 0, 0, 0);*/
  
  width: 8px;
  /*height: 158px;*/
  
  border: 0px double var(--fontcolor);
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  border-radius: 0px;
  
}

.f:before,
/*.g:before,*/
.j:before {
  content: "";
  position: absolute;
  right: -8px;
  bottom: -66px;
  z-index: -1;
  width: 34px;
  height: 59px;
  border: 8px double var(--fontcolor);
  border-top: 0;
  border-bottom: 0;
  border-radius: 50px 0 50px 0; 
  border-top: 0px double var(--fontcolor);
  border-bottom: 0px double var(--fontcolor);
}

.g:before {
  content: "";
    position: absolute;
    /*top: 42px;*/
    bottom: -66px;
    left: -8px;
    z-index: -1;
    width: 34px;
    height: 50px;
    border: 8px double var(--fontcolor);
    border-top: 0;
    /* border-right: 0; */
    border-radius: 50px 0 50px 50px;
    border-bottom-left-radius: 50px 0px;
}

.f:before,
.j:before {
  width: 10px;
  right: -3px;
  bottom: -58px;
}

.f:before {
  top: -60px;
  left: -3px;
}



/*.j {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0 0 50px 0;
}*/

.k, .u, .v, .x {
  /*border-top: 5px double rgba(0, 0, 0, 0);*/
  border-top: 0;
  border-radius: 0 0 50px 50px;
}

.k {
  height: 50px;
  top: -24px;
  border-bottom: 0;
  border-left: 0;
  border-bottom: 0px double var(--fontcolor);
  border-radius: 0 0 50px 0;
}

.k:before {
  content: "";
  position: absolute;
  top: 50px;
  left: 8px;
  z-index: 2;
  width: 34px;
  height: 50px;
  border: 8px double var(--fontcolor);
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-top: 0px double var(--fontcolor);
  border-radius: 0 50px 0 0;
}

.h:before, .k:after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 8px;
  z-index: -1;
  width: 2px;
  height: 158px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  /*border-radius: 3px;*/
  border-radius: 0px;
}

.k:after {
  height: 166px;
  left: 0px;
  bottom: -50px;
}

.l, .t {
  /*height: 158px;
  top: -28px;*/
  
}

.l, 
.t {
  /*width: 25px;*/
  height: 166px;
  bottom: 32px;
  margin-right: -20px;
  border-radius: 50px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 50px 0;
  border-bottom-right-radius: 50px 0px;
}

.m, .w {
  margin-right: 46px;
}





/*.m:before, .n:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  z-index: -1;
  width: 2px;
  height: 100px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  border-radius: 0px;
}*/

.m:after {
  content: "";
  position: absolute;
  top: -8px;
  left: 34px;
  z-index: -2;
  width: 34px;
  height: 92px;
  border: 8px double var(--fontcolor);
  border-bottom: 0;
  border-radius: 50px 50px 0 0;
}

.o, .p, .q, .oe {
  border-radius: 50px;
}

.p {
  /*border-radius: 0 50px 50px 50px;*/
}

.p:before {
  content: "";
  position: absolute;
  top: 16px;
  left: -8px;
  z-index: -1;
  width: 2px;
  height: 136px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  /*border-radius: 3px;*/
  border-radius: 0px;
}

.q {
  /*border-radius: 50px 0 50px 50px;*/
}

.q:before {
  content: "";
  position: absolute;
  top: 16px;
  right: -8px;
  z-index: -1;
  width: 2px;
  height: 136px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  /*border-radius: 3px;*/
  border-radius: 0px;
}

.r {
  border-radius: 50px 50px 0 0;
  /*border-top: 40px double var(--fontcolor);
  border-right: 8px;*/
  border-right: 4px double rgba(0, 0, 0, 0);
  border-bottom: 8px double rgba(0, 0, 0, 0);
  margin-right: 0;
}

.r:before {
  content: "";
  position: absolute;
  left: -8px;
  bottom: -8px;
  z-index: -1;
  width: 2px;
  height: 100px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  /*border-radius: 3px;*/
  border-radius: 0px;
}

.s {
  border-radius: 50px 0 50px 0;
  /*border-radius: 0 0 50px 0;*/
  /*border-top: 8px double rgba(0, 0, 0, 0);*/
  border-right: 0;
  border-left: 0;
}

/*.t {
  margin-left: 20px;
}*/

.u {
  border-radius: 0 0 50px 50px;
}

/*.u:before {
  content: "";
  position: absolute;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  width: 2px;
  height: 100px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  border-radius: 0px;
}*/

/*.v {
  border-top: 0;
  border-radius: 0 0 50px 50px;
}*/

.v {
  /*border-left: 0;*/
  border-bottom: 0;
  border-bottom: 0px double var(--fontcolor);
  border-radius: 0 0 50px 0;
}

/*.w {
  border-top: 0;
  border-radius: 0 0 50px 50px;
}

.w:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 34px;
  z-index: -2;
  width: 34px;
  height: 92px;
  border: 8px double var(--fontcolor);
  border-top: 0;
  border-radius: 0 0 50px 50px;
}*/

.w {
  border-top: 0;
  border-bottom: 0px double var(--fontcolor);
  border-radius: 0 0 50px 0;
}

.w:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 34px;
  z-index: -2;
  width: 34px;
  height: 100px;
  border: 8px double var(--fontcolor);
  border-top: 0;
  border-bottom: 0px double var(--fontcolor);
  border-radius: 0 0 50px 0;
}

.x {
  height: 50px;
  top: -25px;
}

.x:before {
  content: "";
  position: absolute;
  top: 42px;
  left: -8px;
  z-index: -1;
  width: 34px;
  height: 50px;
  border: 8px double var(--fontcolor);
  border-bottom: 0;
  border-radius: 50px 50px 0 0;
}

/*.y {
  height: 50px;
  top: -25px;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0 0 0 50px;
}*/

.y {
  height: 100px;
  /*top: -25px;*/
  /*top: 0;*/
  border-top: 0;
  border-bottom: 0;
  border-bottom: 0px double var(--fontcolor);
  border-radius: 0 0 0 50px;
}

.y:before {
  content: "";
  position: absolute;
  top: 0px;
  right: -8px;
  z-index: -1;
  width: 2px;
  height: 150px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  border-radius: 0px;
}

.z {
  height: 54px;
  border-bottom: 0;
  border-left: 0;
  top: -23px;
  border-bottom: 0px double var(--fontcolor);
  border-radius: 0 0 50px 0;
}

.z:before {
  content: "";
  position: absolute;
  top: 38px;
  z-index: -1;
  width: 42px;
  height: 46px;
  border: 8px double var(--fontcolor); 
  border-top: 0;
  border-right: 0;
  border-top: 0px double var(--fontcolor);
  border-radius: 50px 0 0 0;
}

/*.z {
  height: 50px;
  border-bottom: 0;
  border-left: 0;
  top: -26px;
  border-radius: 0 0 50px 0;
  border-top-right-radius: 50px 0px;
  border-bottom-left-radius: 50px 0px;
}

.z:before {
  content: "";
  position: absolute;
  top: 42px;
  z-index: -1;
  width: 42px;
  height: 42px;
  border: 8px double var(--fontcolor);
  border-top: 0;
  border-right: 0;
  border-radius: 50px 0 0 0;
  border-top-right-radius: 50px 0px;
  border-bottom-left-radius: 50px 0px;
}*/

/*.z:before,
.z:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 17px;
  height: 42px;
  border: 8px double var(--fontcolor); 
}

.z:before {
  top: 0px;
  left: 25px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0 0 50px 0;
}

.z:after {
  top: 42px;
  left: 0px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 50px 0 0 0;
}*/


/*.z:before,*/
.oe:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 13px;
  z-index: -1;
  width: 2px;
  height: 105px;
  border-right:3px solid var(--fontcolor);
  border-left: 3px solid var(--fontcolor);
  border-radius: 0px;
  transform: rotate(24deg);
  transform-origin: 50% 50%;
}

/*.z:before {
  height: 108px;
  top: -12px;
  left: 20px;
  transform: rotate(26deg);
}*/

.ae {
  /*border-radius: 50px 50px 50px 50px;*/
  margin-right: 40px;
}

.ae:before {
  content: "";
  position: absolute;
  top: -8px;
  right: -50px;
  z-index: -1;
  width: 34px;
  height: 84px;
  border: 8px double var(--fontcolor);
  border-radius: 50px; 
  border-right: 8px double rgba(0, 0, 0, 0);
}

.e:before,
.f:after,
.t:after,
.ae:after {
  content: "";
  position: absolute;
  left: -16px;
  top: 53px;
  z-index: -1;
  width: 35px;
  height: 2px;
  border-top: 3px solid var(--fontcolor);
  border-bottom: 3px solid var(--fontcolor);
  /*border-radius: 3px;*/
  border-radius: 0px;
}

.e:before {
  width: 27px;
  left: 0px;
  top: calc(50% - 4px);
}

.f:after {
  left: -12px;
}

.t:after {
  top: 49px;
  left: -18px;
}

.ae:after {
  width: 27px;
  top: 37px;
  left: 40px;

}

/*.oe {
  
  border-top: 0;
  border-bottom: 0;
  border-radius: 50px 0 50px 0;
}*/

.aa:before {
  content: "";
  position: absolute;
  top: -33px;
  left: calc(50% - 10px);
  z-index: 2;
  width: 4px;
  height: 4px;
  border: 8px double var(--fontcolor);
  border-radius: 50%;
}

.i:before,
.j:after {
  content: "";
  position: absolute;
  top: -18px;
  left: calc(50% - 5px);
  z-index: 2;
  width: 3px;
  height: 3px;
  border: 4px solid var(--fontcolor);
  border-radius: 50%;
}

/*.i:before,
.j:after,
.aa:before {
  content: "";
  position: absolute;
  top: -18px;
  left: calc(50% - 6px);
  z-index: 2;
  width: 4px;
  height: 4px;
  border: 4px solid var(--fontcolor);
  border-radius: 50%;
}

.aa:before {
  width: 8px;
  height: 8px;
  top: -26px;
}*/

.space {
  width: 50px;
  border-color: rgba(0, 0, 0, 0);
}
